html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 90vh; /* or 100% if using full-page */
  width: 100%;
}

.App h1 {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
}

.App select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.App p {
  max-width: 600px;
  margin: 0 auto 20px;
  font-size: 16px;
  text-align: center;
}

.page-title {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Segoe UI', sans-serif;
}